[Unit]
Description=TurnKey Initialization Fence - Fences off appliance ports until after initialization...
Requires=local-fs.target
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=/etc/default/turnkey-init-fence
ExecStart=/usr/bin/python3 /usr/lib/inithooks/bin/simplehttpd.py \
              --runas="${RUNAS}" "${WEBROOT}" \
              "${HTTP_FENCE_PORT}" "${HTTPS_FENCE_PORT}" \
              "${HTTPS_FENCE_CERTFILE}" "${HTTPS_FENCE_KEYFILE}"
