Source: inithooks
Section: admin
Priority: optional
Maintainer: Stefan Davis <stefan@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 dh-systemd,
 python3-all (>= 3.5~),
Standards-Version: 4.0.0
X-Python-Version: >= 3.5

Package: inithooks
Architecture: all
Depends:
 kbd,
 ${misc:Depends},
 ${python3:Depends},
 rsyslog,
Recommends:
 confconsole (>= 0.9.4+36+g2256734),
Description: Executes firstboot and everyboot scripts
