Source: inithooks
Section: admin
Priority: optional
Maintainer: Stefan Davis <stefan@turnkeylinux.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3 (>= 3.13~),
 python3-dialog (>= 3.5.3~),
Standards-Version: 4.7.2

Package: inithooks
Architecture: all
Depends:
 kbd,
 ${misc:Depends},
 ${python3:Depends},
 turnkey-ssl,
 python3-dialog (>= 3.5.3~),
 dialog (>= 1.3~),
Recommends:
 confconsole (>= 2.1.0~)
Description: Executes firstboot and everyboot scripts
