[Unit]
Description=inithooks: firstboot and everyboot initialization scripts
After=getty@tty8.service
ConditionKernelCommandLine=!noinithooks
ConditionVirtualization=!lxc
ConditionPathExists=!/var/lib/turnkey-info/inithooks.service/xen
ConditionPathExists=!/var/lib/turnkey-info/inithooks.service/lxc

[Service]
Type=oneshot
StandardInput=tty-force
TTYPath=/dev/tty8
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
EnvironmentFile=/etc/default/inithooks
ExecStart=/bin/sh -c '\
    FGCONSOLE=$(fgconsole); \
    openvt -f -c 8 -s -w -- ${INITHOOKS_PATH}/run; \
    chvt $FGCONSOLE'

[Install]
WantedBy=basic.target
