[Unit]
Description=TurnKey Initialization web interface fence
After=network.target network-online.target
After=iptables.service firewalld.service ip6tables.service ipset.service nftables.service
Before=apache2.service nginx.service lighttpd.service

[Service]
Type=oneshot
EnvironmentFile=/etc/default/turnkey-init-fence
ExecStart=/usr/lib/inithooks/bin/turnkey-init-fence start
ExecStop=/usr/lib/inithooks/bin/turnkey-init-fence stop

[Install]
WantedBy=multi-user.target
