[Unit]
Description=inithooks-lxc: firstboot and everyboot initialization scripts (lxc)
Before=container-getty@1.service
ConditionKernelCommandLine=!noinithooks
ConditionPathExists=/var/lib/turnkey-info/inithooks.service/lxc

[Service]
Type=oneshot
EnvironmentFile=/etc/default/inithooks
ExecStart=/bin/sh -c '${INITHOOKS_PATH}/run'
StandardOutput=syslog+console
StandardError=syslog+console
SyslogIdentifier=inithooks

[Install]
WantedBy=basic.target
