[Unit]
Description=inithooks-xen: firstboot and everyboot initialization scripts (xen)
Before=serial-getty@hvc0.service
ConditionKernelCommandLine=!noinithooks
ConditionPathExists=/var/lib/turnkey-info/inithooks.service/xen

[Service]
Type=idle
EnvironmentFile=/etc/default/inithooks
ExecStart=/bin/sh -c '${INITHOOKS_PATH}/run'
StandardOutput=syslog+console
StandardError=syslog+console
SyslogIdentifier=inithooks

[Install]
WantedBy=basic.target
